.delete-container {
  margin-top: 1%;
  margin-bottom: 4%;
}

.delete-category-choice-dropdown {
  margin-top: 2%;
}

.delete-post-choice-dropdown {
  margin-top: 2%;
}

.delete-button {
  margin-top: 2%;
}